In [2]:
import pandas as pd

In [3]:
path = './Data/'

df = pd.read_csv(path + 'pib_municipio.csv', sep=',')
df.head()

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,2020,570272326,35109445,535162881,203394419,20716398,150192434,16085963
1,1100023,2020,2818048618,295655675,2522392943,19972271,404751757,1207405068,710513407
2,1100031,2020,167189811,7236636,159953175,81177101,5438033,28666966,44671074
3,1100049,2020,2519352677,274450529,2244902148,236214952,275536823,1157343983,575806391
4,1100056,2020,600670074,89923146,510746929,94757639,2358233,276755106,115651854

In [8]:
print('Quantidade de municipios no Dataframe: {}'.format(df.shape[0]))

Quantidade de municipios no Dataframe: 5570

In [9]:
avg_pib = df['pib'].mean()

print("Quantidade de municipios que tem PIB maior ou igual do que a media: {}".format(df.query("pib >= {}".format(avg_pib)).shape[0]))

print("Quantidade de municipios que tem PIB maior do que a media: {}".format(df.query("pib < {}".format(avg_pib)).shape[0]))

Quantidade de municipios que tem PIB maior ou igual do que a media: 694
Quantidade de municipios que tem PIB maior do que a media: 4876